header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
}

#start-container {
  width: 960px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

#game-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 600px;
  background-color: white;
}

#word {
  color: red;
}
