header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
}
#info-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#guesses-left-container {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#record-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.record {
  padding: 10px;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-container {
  max-width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}
#end-screen {
  width: 600px;
  height: 600px;
  display: none;
  position: relative;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
}

#end-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#word-was {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#word {
  font-size: 3em;
  font-weight: 600;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  font-family: Helvetica, Arial, sans-serif;
}

#guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  margin: 20px;
}
#letters-guessed-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  line-height: 2em;
  padding-left: 40px;
}
#letters {
  margin-left: 10px;
  font-size: 2em;
  flex-wrap: wrap;
}
#guess {
  font-size: 3em;
}

#wins {
  color: green;
  font-size: 3em;
}

#losses {
  color: red;
  font-size: 3em;
}

#num-guesses {
  color: blue;
  font-size: 3em;
}
